body{
background:#0b5d1e;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

.zona{
display:flex;
justify-content:center;
margin:15px;
}

.card{
width:110px;
margin:6px;
cursor:pointer;
transition:.25s;
}

.card:hover{
transform:translateY(-15px);
}

#mesa{
height:120px;
font-size:20px;
margin:15px;
}

button{
padding:10px 18px;
margin:5px;
border:none;
border-radius:8px;
background:#ffc107;
font-weight:bold;
cursor:pointer;
}